# Env files (anywhere in repo)
.env
.env.*
*.env
.venv/
!Setup/Configuration/.env.example
!Setup/Provisioning/.env.example

# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# Ansible
*.retry
inventory.ini
Setup/Configuration/inventory/*.ini
!Setup/Configuration/inventory/*.example.ini
Setup/Configuration/failsafe/kubeconfig
Setup/Configuration/.nixos-anywhere-extra-files/
