HCLOUD_TOKEN=
TF_VAR_location=hel1
TF_VAR_network_ip_range=10.10.0.0/16
TF_VAR_network_subnet_ip_range=10.10.1.0/24
TF_VAR_network_zone=eu-central
TF_VAR_k3s_load_balancer_private_ip=10.10.1.5
TF_VAR_k3s_server_type=cx33
TF_VAR_ssh_public_key_path=~/.ssh/id_ed25519.pub
TF_VAR_servers={"k3s-srv-1":{"ip":"10.10.1.10","role":"server"},"k3s-srv-2":{"ip":"10.10.1.11","role":"server"},"k3s-srv-3":{"ip":"10.10.1.12","role":"server"}}
